html {
  background: #151515 url(/img/green-fibers.png) fixed;
  background-image: -webkit-image-set(
    url('/img/green-fibers.png') 1x,
    url('/img/green-fibers_@2X.png') 2x
    );
}

/* GRADIENTS 

*/

.gradient-2 {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTllNTAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjVlODUzIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(-45deg,  rgba(153,229,0,0.5) 0%, rgba(181,232,83,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(153,229,0,0.5)), color-stop(100%,rgba(181,232,83,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(153,229,0,0.5) 0%,rgba(181,232,83,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(153,229,0,0.5) 0%,rgba(181,232,83,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(153,229,0,0.5) 0%,rgba(181,232,83,0.5) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(153,229,0,0.5) 0%,rgba(181,232,83,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8099e500', endColorstr='#80b5e853',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}