/* Arfully Masterminded by ZURB */

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Standards
:: Links
:: Lists
:: Tables
:: Misc
*/


/*	--------------------------------------------------
	:: Standards
	-------------------------------------------------- */
		
	body { background: #fff; font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; line-height: 18px; color: #555; position: relative; -webkit-font-smoothing: antialiased; }
	


/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	a { color: #2a85e8; text-decoration: none; outline: 0; line-height: inherit; }
	a:hover { color: #11639d; }
	p a, p a:visited { line-height: inherit; }
	

/*	--------------------------------------------------
	:: Lists
	-------------------------------------------------- */
	ul, ol { margin-bottom: 18px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ol ol { margin: 4px 0 5px 30px; }
	li { margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	

/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */
	table { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; width: 100%; margin: 0 0 18px; border: 1px solid #ddd;  }
	
	table thead { background: #f5f5f5; }
	table thead tr th,
	table tbody tr td { font-size: 12px; line-height: 18px; text-align: left; }
	table thead tr th { padding: 8px 10px 9px; font-size: 14px; font-weight: bold; color: #222; }
	table thead tr th:first-child { border-left: none; }
	table thead tr th:last-child { border-right: none; }
	
	table thead tr {  }
	table tbody {  }
	table tbody tr {  }
	table tbody tr.even,
	table tbody tr.alt { background: #f9f9f9; }
	table tbody tr:nth-child(even) { background: #f9f9f9; }
	table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }

/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
	.left       { float: left; }
	.right      { float: right; }
	.hide     	{ display: none; }
	.highlight 	{ background: #ff0; }
	