/* Modify the positioning settings within Tooltip.js */

.bubbleInfo {
    position: relative;
    font-weight: bold;
    color:#FFF;
}

.bubbleInfo sub {
	font-weight:normal;
}

.popup {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    position: absolute;
	background: #414141;
	border-bottom:2px solid #2a2a2a;
    width:100px;
    padding:10px;
    display: none; /* keeps the popup hidden if no JS available */
}