/* Mixins */
@mixin transition ( $attr, $dur, $ease) {
  transition: $attr $dur $ease;
}

@mixin button ($bg, $color, $padding) {
  @if $bg {
    background-color: $bg;
  }
  @if $color {
    color: $color;
  }
  @if $padding {
    padding: $padding;
  }
}
