/* Colors */
$primary-color   : rgba(181,11,109,1);
$secondary-color : rgba(35,35,35,1);
$tertiary-color  : rgba(55,124,8,1);
$alert-color     : rgba(255,177,18,1);
$success-color   : rgba(34,173,168,1);
$warning-color   : #f08a24;
$info-color      : #a0d3e8;

/* Content Blocks */
$content-block-padding: 3rem 0;
