/* Colors */
$primary-color   : #23233d;
$secondary-color : #e7e7e7;
$alert-color     : #f04124;
$success-color   : #43AC6A;
$warning-color   : #f08a24;
$info-color      : #a0d3e8;

/* Content Blocks */
$content-block-padding: 3rem 0;