/* Foundation Settings */
// $white       : #FFFFFF;
// $ghost       : #FAFAFA;
// $snow        : #F9F9F9;
// $vapor       : #F6F6F6;
// $white-smoke : #F5F5F5;
// $silver      : #EFEFEF;
// $smoke       : #EEEEEE;
// $gainsboro   : #DDDDDD;
// $iron        : #CCCCCC;
// $base        : #AAAAAA;
// $aluminum    : #999999;
// $jumbo       : #888888;
// $monsoon     : #777777;
// $steel       : #666666;
// $charcoal    : #555555;
// $tuatara     : #444444;
// $oil         : #333333;
// $jet         : #222222;
// $black       : #000000;

/* Colors */
$primary-color   : rgba(181,11,109,1);
$secondary-color : rgba(35,35,35,1);
$tertiary-color  : rgba(55,124,8,1);
$alert-color     : rgba(255,177,18,1);
$success-color   : rgba(34,173,168,1);
$warning-color   : #f08a24;
$info-color      : #a0d3e8;

/* Content Blocks */
$content-block-padding: 3rem 0;
