/* -----------------------------------------
   Topbar
----------------------------------------- */
.top-bar-section ul li > a {
  border-left: 1px solid $secondary-color;
  border-right: none;
}
.top-bar.expanded .toggle-topbar a span {
  /* DISABLE WEIRD UNDERLINE UNDER MENU TITLE */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* -----------------------------------------
 Off Canvas
----------------------------------------- */
.offcanvas {
}
.tab-bar-section h1 a {
  color: $tabbar-header-color;
}
/* -----------------------------------------
 Sparkletown
----------------------------------------- */
.masthead {
  text-align: center;
}
.menu-toggle {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  border-radius: 100%;
  line-height: 1;
  padding: 0;
  outline: 0;
  box-shadow: none;
  margin: 0 auto;

  &:before {
    font-family: "dashicons";// https://developer.wordpress.org/resource/dashicons/
    content: "\f177";
  }

}
.sparkletown {
  padding: 1rem 0;
  @include transition(background-color, 300ms, ease-in);

  .menu {
    display: none;
    font-size: 0; /* prevents inline-block space between child elements*/

    a {
      display: block;
      text-transform: uppercase;
      font-size: 1rem;
      color: white;
      padding: 10px 0;
      border-bottom: 1px solid white;

      &:first-child, &:only-child {
        border-top: 1px solid white;
      }

      &:hover {
        background-color: scale-color($primary-color, $lightness: -15%);
        @include transition(background-color, 300ms, ease-out);
      }
    }
    @media #{$medium-up} {
      a,
      a:first-child,
      a:only-child {
        display: inline-block;
        padding: 5px 0;
        margin: 0 10px;
        border: 0;
        border-bottom: 3px solid transparent;
      }
      a:hover {
        background: none;
        border-bottom: 3px solid white;
      }
    }
  }

  &.toggled-on {
    background: $primary-color;
    padding-bottom: 0;
    @include transition(background-color, 300ms, ease-out);

    @media #{$medium-up} {
      padding-bottom: 1rem;
    }

    .menu {
      display: block;
      @include transition(background-color, 300ms, ease-out);
    }

    .menu-toggle {
      color: $primary-color;
      background: white;
      margin-bottom: 1rem;
    }
  }
}
