/* -----------------------------------------
   Typography
----------------------------------------- */
body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, a:link {
  font-weight: 700;
}
