/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

	h1{
		font-size:37px;
		color:#48d0e9;
		margin-top:28px;
	}
	
	#top_ribbon {
	position:relative;
	left:50px;
		
	}
	
	h2 {
		font-size:24px;
	}
	
	div[role="masthead"] {
		padding-top:40px;
	}
	
	.masthead_span {
		width:100%;
		background: #101010;
		height: 210px;
	}
	
	.header_span {
		width:100%;
		background-image: url(../images/misc/mountains_repeat.jpg);
	}
	header span {
		height:40px;	
	}
	
	#logo {
		position:relative;
		top:12px;
	
	}
	#ribbon {
		position:relative;
		right:400px;
	}
	div[role="billboard"]{
		height:237px;
	
	}
	.yeti {
		position:relative;
		top:20px;
		right:110px;
	}
	footer {
		margin-top:100px;
		height:100px;
	}
	.headingicons {
		display:block;
		margin:0px auto 10px;
	}
	.center {
		text-align:center;
	}
	.subheading {
		text-transform:uppercase;
		font-size: 11px;
		font-weight:bold;
		color:#818182;
		width:185px;	/* Width of your download button */
		display:block;
		text-align:right;
	}
	div[role="billboard"] p {
		color:#FFF;
	}
	.credit {
		margin-top:50px;
		font-size:14px;
		color:#262626;
	
	}
	.happy {
		position:relative;
		top:15px;
	}



/* -----------------------------------------
   Page Name 1
----------------------------------------- */






/* -----------------------------------------
   Page Name 2
----------------------------------------- */


